@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
--cor-de-fundo:rgb(41, 6, 24343);
--texto1: #000000;
--texto2: red;
--botao-ativo:rgb(66, 14, 14);
--botao-inativo:rgba(58,55,94,05);
--texto-fundo:rgba(58,55,94,03);
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family:"metal mania",system-ui;
}
.botao{

    border-radius: 20%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    font-size: 15px;
    display: flex;
 text-align: center;
}
.titulo-principal{
    font: 45px;
    text-align: center;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

}
.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 36px;
}
.botao{
    font-family:"lobster",sans-serif;
    background-color: rgb(215, 219, 228);
    display:flex;
    color:rgb(0, 0, 0);
    justify-content:center;
    padding:1em;
    font-size: 18px;
    align-items: center;
    width: 70%;
    text-align: center;
}
  .botao{
    display: flex;
}
.botao:first-child{
    border-radius: 59px 000;
}
.botao:last-child{
    border-radius: 10px 00;
}
.ativo{
    background:var(--botao-ativo);
    border-bottom: 4px solid rgb(255, 0, 119);
}